@import "tailwindcss";

:root {
  --background: #020617; /* Deep Navy/Black */
  --foreground: #f8fafc; /* Off-white text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@keyframes slash {
  0% { transform: translateX(-100%) skewX(-45deg); }
  100% { transform: translateX(200%) skewX(-45deg); }
}

.group:hover .animate-slash {
  animation: slash 0.6s ease-out forwards;
}

/* Force dark mode aesthetic regardless of system settings for a consistent portfolio */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui;
  -webkit-font-smoothing: antialiased;
}

/* Smooth scrolling for navigation */
html {
  scroll-behavior: smooth;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite; /* Adjust 40s to change speed */
}

.animate-marquee:hover {
  animation-play-state: paused;
}